Flask==3.0.0
Flask-CORS==4.0.0
Flask-JWT-Extended==4.6.0
Flask-SocketIO==5.3.6
PyMongo==4.6.0
Werkzeug==3.0.1
python-dotenv==1.0.0
numpy==1.26.2
psutil==5.9.6
aiohttp==3.9.1
python-socketio==5.10.0
bcrypt==4.1.2
